/* Main Overriding CSS file */

html, body {
	background-color: #ededed;
	height: 100% !important;
}

.container{
	padding-top: 15px;
}

#lat, #lon{
	display: none;
}

#map {
	display: block;
	width: 100%;
   	height: 400px;
}

#time {
	display: none;
}

.container {
	background-color: white;
	padding-bottom: 15px;
	min-height: 100% !important;
}

i[class^="wi-forecast-io-"], i[class*="wi-forecast-io-"] {
    font-size: 8em;
}
