{% extends "base.html" %}
{% block title %}Weather App{% endblock %}
{% block content %}
    <form class="" action="{{ url_for('report') }}" method="post">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="Station">Station</label>
                <select class="form-control" name="station">
                    {% for station in stations %}
                        <option>
                            {{ station }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Get Forecast</button>
    </form>
{% endblock %}
